/* page rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-height: 100vh;
  font-family: "Fira Sans";
  font-size: 14px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1rem;
  letter-spacing: 6px;
  color: #525252;
}

p {
  line-height: 30px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

.page-button,
.page-button-alt {
  width: max-content;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;  
  padding: 17px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: all .2s;
}

.page-button {
  background-color: #191919;
}

.page-button-alt {
  background-color: #25a9bd;
}

.page-button:hover,
.page-button-alt:hover {
  background-color: #ff8d61;
}

.page-button i,
.page-button-alt i {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 5px;
}

.title h3 {
  text-align: center;
}

.title h2 {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0;
}

.title h2::after {
  content: "";
  display: table;
  width: 90px;
  border-bottom: 2px solid #ff8d61;
  margin: 40px auto;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: rgba(39,170,190,0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-bg {
  width: 100%;
  height: 100px;
  background-color: rgb(39,170,190);
}

/* jumbotron */
.jumbo {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 30px 9%;
  color: #fff;
  display: flex;
  align-items: center;
  background-image: url("../img/home_slider_bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-info h1 {
  font-weight: 700;
  font-size: 9rem;
}

.jumbo-info p {
  font-size: 1.5rem;
  margin: 40px 0;
  letter-spacing: 2px;
}

/* info-box */
.info-box {
  width: 100%;
  height: 400px;
  padding: 120px 9%;
  background-color: #f2f2f2;
}

.info-box-text {
  width: 90%;
  margin: auto;
  padding: 0 8%;
}

.info-box-text h3 {
  text-align: center;
  margin-bottom: 20px;
}

.info-box-text p {
  font-size: 1.9rem;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  color: #707070;
}

/* news-cont */
.news-cont {
  width: 100%;
  padding: 120px 9%;
}

.polaroid-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.polaroid {
  width: 32%;
}

.polaroid > a {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: #191919;
  text-decoration: none;
  transition: all .2s;
}

.polaroid span {
  font-size: 0.8rem;
  color: #525252;
}

.polaroid span a {
  text-decoration: none;
  color: #191919;
  transition: all .2s;
}

.polaroid a:hover {
  color: #25a9bd;
}

.polaroid p {
  margin: 15px 0 0 0;
  color: #707070;
}

.polaroid-img-wrapper {
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  display: inline-block;
}

.polaroid-img-wrapper img {
  max-width: 100%;
  height: 250px;
  transform: scale(1.12);
  transition: transform 1s;
}

.polaroid-img-wrapper img:hover {
  transform: scale(1);
}


/* news-jumbo */
.news-jumbo {
  width: 100%;
  margin: 70px 0 90px 0;
  padding: 250px 8% 100px 8%;
  background-image: url("../img/featured_article_1_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.news-jumbo-info {
  width: 100%;
  color: #fff;

}

/* news-bottom */
.news-jumbo-info h3,
.news-bottom-jumbo h3 {
  color: #fff;
}

.news-jumbo-info h2,
.news-bottom-jumbo h2 {
  margin: 30px 0;
}

.news-jumbo-info p,
.news-bottom-jumbo p {
  margin: 0 0 30px 0;
}

.news-bottom {
  width: 100%;
  margin: 70px 0 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.news-bottom-jumbo {
  width: 65%;
  padding: 100px;
  background-image: url("../img/featured_article_2_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tng-cont {
  width: 30%;
}

.tng-cont h2 {
  color: #191919;
}

.tng-cont h2::after {
  content: "";
  display: table;
  width: 90px;
  border-bottom: 2px solid #ff8d61;
  margin: 20px 0 30px 0;
}

.tng-polaroid {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.tng-img-wrapper {
  width: 140px;
  height: 115px;
  overflow: hidden;
}

.tng-img-wrapper img {
  max-width: 100%;
  height: 115px;
  transform: scale(1.12);
  transition: transform 1s;
}

.tng-img-wrapper img:hover {
  transform: scale(1);
}

.tng-polaroid-text {
  width: 55%;
}

.tng-polaroid-text a {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: #191919;
  text-decoration: none;
  transition: all .2s;
}

.tng-polaroid-text a:hover {
  color: #25a9bd;
}

.tng-polaroid-text span {
  font-size: 0.8rem;
  color: #525252;
}

/* banner */
a.banner {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .2s;
}

a.banner:hover {
  background-color: #25a9bd;
}

a.banner i {
  margin: 0 0 0 10px;
}

/* forum-section */
.forum-section-cont {
  width: 100%;
  padding: 120px 9%;
  background-color: #f2f2f2;
}

.box-cont {
  width: 100%;
}

.box-row {
  width: 100%;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 22%;
  height: 230px;
  background-color: #fff;
  border-top: 3px solid #25a9bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  width: max-content;
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-wrapper h2 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.box-wrapper:hover h2 {
  color: #ff8d61;
}

.icon-box {
  width: 85px;
  height: 85px;
  background-color: #ff8d61;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box i {
  color: #fff;
  font-size: 2.6rem;
}

/* signup-banner */
.signup-banner-cont {
  width: 100%;
  padding: 130px 9%;
  background-image: url("../img/join_now_cta_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-banner-text {
  width: 45%;
  text-align: center;
}

.signup-banner-text h2 {
  font-size: 4rem;
  color: #fff;
}

.signup-banner-text p {
  color: #fff;
  margin: 30px 0;
}

.signup-banner-text a {
  margin: auto;
}

/* newsletter */
.newsletter-cont {
  width: 100%;
  padding: 80px 9%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-cont h3 {
  font-weight: normal;
  color: #191919;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.newsletter-form {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
}

.newsletter-form input {
  width: 400px;
  padding: 18px;
}

.newsletter-form button {
  border-color: rgba(226,226,226,0.5);
  margin-left: 20px;
}



