/* page rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Fira Sans";
  font-size: 14px;
  position: relative;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1rem;
  letter-spacing: 6px;
  color: #525252;
}

p {
  line-height: 30px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img:hover {
  cursor: pointer;
}

.page-button,
.page-button-alt {
  width: max-content;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;  
  padding: 17px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: all .2s;
}

.page-button {
  background-color: #191919;
}

.page-button-alt {
  background-color: #25a9bd;
}

.page-button:hover,
.page-button-alt:hover {
  background-color: #ff8d61;
}

.page-button i,
.page-button-alt i {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 5px;
}

.title h3 {
  text-align: center;
}

.title h2 {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0;
}

.title h2::after {
  content: "";
  display: table;
  width: 90px;
  border-bottom: 2px solid #ff8d61;
  margin: 40px auto;
}

/* header */
.header-bg {
  width: 100%;
  height: 100px;
  background-color: rgb(39,170,190);
}

header {
  width: 100%;
  height: 100px;
  padding: 0 9%;
  background-color: rgba(39,170,190,0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul,
nav li,
nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul li {
  padding-right: 50px;
  position: relative;
}

nav ul li a {
  color: #fff;
  position: relative;
}

nav a img {
  width: 250px;
}

nav span.page-button {
  font-size: 0.8rem;
  padding: 12px 25px;
}

ul.dropdown {
  height: auto;
  background-color: rgba(39,170,190,0.85);
  display: none;
  position: absolute;
  top: 133%;
}

.dropdown.show {
  display: block;
}

li.dropdown-li {
  min-width: 180px;
  padding: 18px 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

ul.dropdown li:hover {
  background-color: #1c93a5;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid rgba(39,170,190,0.95);
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow-down.active {
  display: block;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid rgba(39,170,190,0.85);
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow-up.active {
  display: block;
}

.bridge {
  width: 150px;
  height: 35px;
  display: none;
  background-color: transparent;
  position: absolute;
  top: 100%;
}

li:hover .bridge {
  display: block;
}

li.search {
  padding: 0;
  position: relative;
}

.search-icon {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.search-input {
  padding: 25px;
  background-color: rgba(39,170,190,0.85);
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.search-input.active {
  display: block;
}

.input-wrapper {
  display: flex;
}

.input-wrapper input {
  width: 250px;
  color: #707070;
  padding: 15px;
}

.input-wrapper .page-button {
  width: 57px;
  height: 57px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-layover {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  z-index: 9999;
}

.page-layover.active {
  display: block;
}

/* jumbotron */
.jumbo {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 30px 9%;
  color: #fff;
  display: flex;
  align-items: center;
  background-image: url("../img/home_slider_bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-info h1 {
  font-weight: 700;
  font-size: 9rem;
}

.jumbo-info p {
  font-size: 1.5rem;
  margin: 40px 0;
  letter-spacing: 2px;
}

/* info-box */
.info-box {
  width: 100%;
  height: 400px;
  padding: 120px 9%;
  background-color: #f2f2f2;
}

.info-box-text {
  width: 90%;
  margin: auto;
  padding: 0 8%;
}

.info-box-text h3 {
  text-align: center;
  margin-bottom: 20px;
}

.info-box-text p {
  font-size: 1.9rem;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  color: #707070;
}

/* news-cont */
.news-cont {
  width: 100%;
  padding: 120px 9%;
}

.polaroid-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.polaroid {
  width: 32%;
}

.polaroid > a {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: #191919;
  text-decoration: none;
  transition: all .2s;
}

.polaroid span {
  font-size: 0.8rem;
  color: #525252;
}

.polaroid span a {
  text-decoration: none;
  color: #191919;
  transition: all .2s;
}

.polaroid a:hover {
  color: #25a9bd;
}

.polaroid p {
  margin: 15px 0 0 0;
  color: #707070;
}

.polaroid-img-wrapper {
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  display: inline-block;
}

.polaroid-img-wrapper img {
  max-width: 100%;
  height: 250px;
  transform: scale(1.12);
  transition: transform 1s;
}

.polaroid-img-wrapper img:hover {
  transform: scale(1);
}


/* news-jumbo */
.news-jumbo {
  width: 100%;
  margin: 70px 0 90px 0;
  padding: 250px 8% 100px 8%;
  background-image: url("../img/featured_article_1_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.news-jumbo-info {
  width: 100%;
  color: #fff;

}

/* news-bottom */
.news-jumbo-info h3,
.news-bottom-jumbo h3 {
  color: #fff;
}

.news-jumbo-info h2,
.news-bottom-jumbo h2 {
  margin: 30px 0;
}

.news-jumbo-info p,
.news-bottom-jumbo p {
  margin: 0 0 30px 0;
}

.news-bottom {
  width: 100%;
  margin: 70px 0 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.news-bottom-jumbo {
  width: 65%;
  padding: 100px;
  background-image: url("../img/featured_article_2_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tng-cont {
  width: 30%;
}

.tng-cont h2 {
  color: #191919;
}

.tng-cont h2::after {
  content: "";
  display: table;
  width: 90px;
  border-bottom: 2px solid #ff8d61;
  margin: 20px 0 30px 0;
}

.tng-polaroid {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.tng-img-wrapper {
  width: 140px;
  height: 115px;
  overflow: hidden;
}

.tng-img-wrapper img {
  max-width: 100%;
  height: 115px;
  transform: scale(1.12);
  transition: transform 1s;
}

.tng-img-wrapper img:hover {
  transform: scale(1);
}

.tng-polaroid-text {
  width: 55%;
  margin-left: 10px;
}

.tng-polaroid-text a {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: #191919;
  text-decoration: none;
  transition: all .2s;
}

.tng-polaroid-text a:hover {
  color: #25a9bd;
}

.tng-polaroid-text span {
  font-size: 0.8rem;
  color: #525252;
}

/* banner */
a.banner {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .2s;
}

a.banner:hover {
  background-color: #25a9bd;
}

a.banner i {
  margin: 0 0 0 10px;
}

/* forum-section */
.forum-section-cont {
  width: 100%;
  padding: 120px 9%;
  background-color: #f2f2f2;
}

.box-cont {
  width: 100%;
}

.box-row {
  width: 100%;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 22%;
  height: 230px;
  background-color: #fff;
  border-top: 3px solid #25a9bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  width: max-content;
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-wrapper h2 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.box-wrapper:hover .icon-box {
  transform: scale(0.9);
}

.box-wrapper:hover h2 {
  color: #ff8d61;
}

.icon-box {
  width: 85px;
  height: 85px;
  background-color: #ff8d61;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  position: relative;
}

.icon-box i {
  color: #fff;
  font-size: 2.6rem;
}

@keyframes icon-animation {
  0%   {
    width: 80px;
    height: 80px;
  }
  10%{
    width: 85px;
    height: 85px;
  }
  20%  {
    width: 90px;
    height: 90px;
    opacity: 0.9;
  }
  30%  {
    width: 95px;
    height: 95px;
  }
  40%{
    width: 100px;
    height: 100px;
  }
  50%{
    width: 105px;
    height: 105px;
  }
  60%{
    width: 110px;
    height: 110px;
  }
  70%{
    width: 115px;
    height: 115px;
  }
  80%{
    width: 120px;
    height: 120px;
  }
  90%{
    width: 125px;
    height: 125px;
  }
  100% {
    width: 125px;
    height: 125px;
    opacity: 0;
  }
}

.icon-animation-box {
  width: 85px;
  height: 85px;
  transform: scale(0.9);
  background-color: transparent;
  border-radius: 100%;
  box-shadow: 2px 2px 14px 12px rgba(255,141,97,0.7);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: icon-animation 1.2s ease-out infinite;
}

.box-wrapper:hover .icon-animation-box {
  display: block;
}

/* signup-banner */
.signup-banner-cont {
  width: 100%;
  padding: 130px 9%;
  background-image: url("../img/join_now_cta_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-banner-text {
  width: 45%;
  text-align: center;
}

.signup-banner-text h2 {
  font-size: 4rem;
  color: #fff;
}

.signup-banner-text p {
  color: #fff;
  margin: 30px 0;
}

.signup-banner-text a {
  margin: auto;
}

/* newsletter */
.newsletter-cont {
  width: 100%;
  padding: 80px 9%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-cont h3 {
  font-weight: normal;
  color: #191919;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.newsletter-form {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
}

.newsletter-form input {
  width: 400px;
  padding: 18px;
}

.newsletter-form button {
  border-color: rgba(226,226,226,0.5);
  margin-left: 20px;
}

/* footer */
.footer-top-cont {
  width: 100%;
  padding: 80px 9%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
}

.footer-top-item {
  width: 22%;
}

.footer-top-item h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.footer-top-item p {
  padding: 10px 0;
  color: #707070;
}

.footer-top-item li {
  padding: 10px;
  line-height: 30px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  position: relative;
}

.footer-top-item i {
  font-size: 0.6rem;
  position: absolute;
  top: 20px;
  left: 0;
}

.footer-top-item a,
.footer-bottom-cont .copy a,
.footer-top-item i {
  color: #191919;
}

.footer-top-item li:hover a,
.footer-bottom-cont .copy a:hover,
.footer-top-item li:hover i {
  color: #25a9bd;
}

.footer-bottom-cont {
  width: 100%;
  padding: 50px 9%;
  color: #707070;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-cont {
  display: flex;
}

.social {
  width: 47px;
  height: 47px;
  margin-left: 10px;
  font-size: 1.2rem;
  border-radius: 100%;
  position: relative;
}

.social a {
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-name {
  font-size: 0.7rem;
  color: #fff;
  background-color: #191919;
  padding: 5px;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translate(-50%, 0);
}

.icon-arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #191919;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.social:hover .icon-name,
.social:hover .icon-arrow-down {
  display: block;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-facebook:hover {
  opacity: 0.8;
}

.bg-twitter {
  background-color: #55acee;
}

.bg-twitter:hover {
  opacity: 0.8;
}

.bg-instagram {
  background-color: #3f729b;
}

.bg-instagram:hover {
  opacity: 0.8;
}

.bg-youtube {
  background-color: #cd201f;
}

.bg-youtube:hover {
  opacity: 0.8;
}

.return-top {
  width: 50px;
  height: 35px;
  background-color: #454545;
  opacity: 0.8;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
  position: fixed;
  bottom: 0;
  right: 5%;
}

.return-top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}



