<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');
    </style> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
    <title>Forum</title>
  </head>
  <body>
    <div id="app">
      <div :class="'page-layover ' + layoverActive" @click="searchHide"></div>
      <div id="top"></div>
      <!-- header -->
      <header>
        <!-- nav -->
        <nav>
          <!-- logo -->
          <a href="#">
            <img :src="'img/' + logo" alt="logo">
          </a>
          <!-- nav-menu -->
          <ul>
            <li v-for="(item, index) in navItems" @mouseenter="navHover(index)" @mouseleave="navHover(index)">
              <a href="#">
                <span :class="item.button ? 'page-button' : ''">
                  {{ item.value }}
                </span>
                <div :class="'arrow-down ' + item.arrowDownActive"></div>
                <div class="bridge"></div>
                <div :class="'arrow-up ' + item.arrowTopActive"></div>
              </a>
              <ul :class="'dropdown ' + item.dropdownShow" v-if="item.dropdown">
                <li v-for="elem in item.dropdown" class="dropdown-li">
                  <a href="#">
                    {{ elem }}
                  </a>
                </li>
              </ul>
            </li>
            <li class="search">
              <div class="search-icon" @click="searchShow">
                <i class="fas fa-search"></i>
              </div>
              <div :class="'search-input ' + inputActive">
                <div class="input-wrapper">
                  <input type="text" placeholder="Search...">
                  <a href="#" class="page-button">
                    <i class="fas fa-search"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- main -->
      <main>

        <!-- jumbotron -->
        <div class="header-bg"></div>
        <div class="jumbo">
          <div class="jumbo-info">
            <h1>Tech Forum!</h1>
            <p>
              Discuss all the latest technology news and trends
            </p>
            <a href="#" class="page-button-alt">
              get avada now!
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>

        <!-- info-box -->
        <div class="info-box">
          <div class="info-box-text">
            <h3>AVADA FORUM IS THE PLACE TO BE</h3>
            <p>
              In quis lectus sed leo elementum faucibus in dapibus dictum. 
              Nulla molestie tortor nec lectus venenatis, sed blandit dui finibus. 
              dolor at, bibendum purus. Donec vehicula nec tortor ac finibus.
            </p>
          </div>
        </div>

        <!-- news-cont -->
        <div class="news-cont">
          <div class="title">
            <h3>PHASELLUS EGET METUS</h3>
            <h2>All the latest news</h2>
          </div>

          <!-- polaroid-cont-1 -->
          <div class="polaroid-cont">
            <!-- 1 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_25-700x441.jpg" alt="">
              </div>
              <a href="#">
                Morbi vitae dui euismod vulputate sollicitudin
              </a>
              <span>
                October 11th, 2015 | 
                <a href="#">
                  2 Comments
                </a>
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
            <!-- 2 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_24-700x441.jpg" alt="">
              </div>
              <a href="#">
                Vivamus pellenteque, felis quis varius
              </a>
              <span>
                October 11th, 2015 | Comments Off
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
            <!-- 3 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_23-700x441.jpg" alt="">
              </div>
              <a href="#">
                Donec ornare pretium eget scelisque justo
              </a>
              <span>
                October 11th, 2015 | Comments Off
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
          </div>

          <!-- news-jumbo -->
          <div class="news-Jumbo">
            <div class="news-jumbo-info">
              <h3>FEATURED ARTICLE</h3>
              <h2>Cras malesuada et orci eget pharetra</h2>
              <p>
                In quis lectus sed leo elementum faucibus in dapibus dictum. 
                Nullamolestie tortor nec lectus venenatis, sed blandit dui, 
                dolor at bibendum sadips ets ipsums dolores ficilis uns leo lectus.
              </p>
              <a href="#" class="page-button">
                read more
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>

          <!-- polaroid-cont-2 -->
          <div class="polaroid-cont">
            <!-- 1 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_22-700x441.jpg" alt="">
              </div>
              <a href="#">
                Fusce sollicitudin nunc sed placerat varius
              </a>
              <span>
                October 11th, 2015 | Comments Off
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
            <!-- 2 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_21-700x441.jpg" alt="">
              </div>
              <a href="#">
                Donec facilis sodales leo sit amet laoreet
              </a>
              <span>
                October 11th, 2015 | Comments Off
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
            <!-- 3 -->
            <div class="polaroid">
              <div class="polaroid-img-wrapper">
                <img src="img/post_feat_img_20-700x441.jpg" alt="">
              </div>
              <a href="#">
                Proin eu purus sed aru aliquet curabir vens
              </a>
              <span>
                October 11th, 2015 | Comments Off
              </span>
              <p>
                Donec finibus sit amet orci eget ultricies. 
                Praesent posuere ante ut erat fringilla, vestibulum placerat metus mattis. 
                Aenean dictum vitae nisl
              </p>
            </div>
          </div>

          <!-- news-bottom -->
          <div class="news-bottom">

            <!-- news-bottom-jumbo -->
            <div class="news-bottom-jumbo">
              <h3>REVIEWED PRODUCT</h3>
              <h2>Mauris viverra atisan ipsum eget felis prims efficitur varius</h2>
              <p>
                In quis lectus sed leo elementum faucibus in dapibus dictum. 
                Nullamolestie tortor nec lectus venenatis, 
                sed blandit dui, dolor at bibendum.
              </p>
              <a href="#" class="page-button">
                read more
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>

            <!-- Tutorials & Guides -->
            <div class="tng-cont">
              <h2>Tutorials & Guides</h2>
              <!-- 1 -->
              <div class="tng-polaroid">
                <div class="tng-img-wrapper">
                  <img src="img/post_feat_img_23-177x142.jpg" alt="">
                </div>
                <div class="tng-polaroid-text">
                  <a href="#">
                    Donec ornare pretium eget scelisque justo
                  </a>
                  <span>
                    October 11th, 2015 | Comments Off
                  </span>
                </div>
              </div>
              <!-- 2 -->
              <div class="tng-polaroid">
                <div class="tng-img-wrapper">
                  <img src="img/post_feat_img_22-177x142.jpg" alt="">
                </div>
                <div class="tng-polaroid-text">
                  <a href="#">
                    Fusce sollicitudin nunc sed placerat varius
                  </a>
                  <span>
                    October 11th, 2015 | Comments Off
                  </span>
                </div>
              </div>
              <!-- 3 -->
              <div class="tng-polaroid">
                <div class="tng-img-wrapper">
                  <img src="img/post_feat_img_20-177x142.jpg" alt="">
                </div>
                <div class="tng-polaroid-text">
                  <a href="#">
                    Proin eu purus sed aru aliquet curabir vens
                  </a>
                  <span>
                    October 11th, 2015 | Comments Off
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- banner -->
        <a href="#" class="banner">
          read our blog
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>

        <!-- forum-section -->
        <div class="forum-section-cont">
          <div class="title">
            <h3>PHASELLUS EGET METUS</h3>
            <h2>All the latest news</h2>
          </div>

          <!-- box -->
          <div class="box-cont">

            <!-- row-1 -->
            <div class="box-row">
              <!-- 1 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fas fa-file-alt"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>News & Community</h2>
                </div>
              </div>
              <!-- 2 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fab fa-apple"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Apple Forum</h2>
                </div>
              </div>
              <!-- 3 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fab fa-windows"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Microsoft Forum</h2>
                </div>
              </div>
              <!-- 4 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fab fa-android"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Android Forum</h2>
                </div>
              </div>
            </div>

            <!-- row-2 -->
            <div class="box-row">
              <!-- 1 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fas fa-coffee"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>General Discussion</h2>
                </div>
              </div>
              <!-- 2 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fas fa-cubes"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Apps & Software</h2>
                </div>
              </div>
              <!-- 3 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fas fa-laptop"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Gadget & Stuff</h2>
                </div>
              </div>
              <!-- 4 -->
              <div class="box">
                <div class="box-wrapper">
                  <div class="icon-box">
                    <i class="fas fa-wrench"></i>
                    <div class="icon-animation-box"></div>
                  </div>
                  <h2>Tutorials & Guides</h2>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- banner -->
        <a href="#" class="banner">
          go to our forum
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>

        <!-- signup-banner -->
        <div class="signup-banner-cont">
          <div class="signup-banner-text">
            <h2>
              Hey! Join to our Community
            </h2>
            <p>
              Nulla molestie tortor nec lectus venenatis, sed blandit dui finibus. Curabitur feugiat vulputate purus ipsums dolores ficilis uns etra.
            </p>
            <a href="#" class="page-button-alt">
              sign up
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>

        <!-- newsletter -->
        <div class="newsletter-cont">
          <h3>Subscribe to our Newsletter</h3>
          <div class="newsletter-form">
            <input type="text" placeholder="Insert your email*">
            <button class="page-button">Send</button>
          </div>
        </div>
      </main>

      <!-- footer -->
      <footer>
        <div class="footer-top-cont">
          <div class="footer-top-item">
            <h4>Avada Tech Forum</h4>
            <p>
              Sed semper, nisl id feugiat eleifend, erat est digssim felis, 
              quis auctor elit enim nec ante. Cras et nibh risus. 
              Pellentesque non mi sit amet mi intermentum.
            </p>
          </div>
          <div v-for="list in footerLists" class="footer-top-item">
            <h4>{{ list.title }}</h4>
            <ul>
              <li v-for="item in list.listItems">
                <a href="#">
                  <i class="fas fa-chevron-right"></i>
                  {{ item.value }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-bottom -->
        <div class="footer-bottom-cont">
          <div class="copy">
            © Copyright 2012 - 2021 | Avada Theme by 
            <a href="#">Theme Fusion</a>
             | All Rights Reserved | Powered by 
             <a href="#">WordPress</a>
          </div>
          <div class="social-cont">
            <div v-for="icon in footerIcons" :class="'social ' + icon.class">
              <div class="icon-name">
                {{ icon.name }}
                <div class="icon-arrow-down"></div>
              </div>
              <a href="#">
                <i :class="'fab ' + icon.icon"></i>
              </a> 
            </div>
          </div>
        </div>
      </footer>
      <div class="return-top" v-if="scrollpx > 500">
        <a href="#top">
          <i class="fas fa-chevron-up"></i>
        </a>
      </div>
    <!-- /app -->
    </div>
  </body>
</html>